{% if include.author %}
{% assign buttondown_username = include.author.buttondown_username %}
{% assign author_data = include.author %}
{% elsif page.author %}
{% assign author_data = site.data.authors[page.author] %}
{% assign buttondown_username = author_data.buttondown_username %}
{% else %}
{% assign buttondown_username = site.buttondown_username %}
{% endif %}

{% assign audience_tag = include.audience_tag | default: page.audience_tag | default: author_data.audience_tag %}
{% assign source_tag = include.source_tag | default: page.source_tag %}
{% assign cta_metadata_source = include.metadata_source | default: page.buttondown_metadata_source | default: page.url
%}

<div
  class="text-align-center padding margin-block size-content-2 background-surface-2 border-radius-md margin-inline-auto">
  <p class="color-text-2 margin-block-end-half">
    <strong>Want to be the first to know when a new book is released?</strong>
    <br>Subscribe for updates on new releases,
    behind-the-scenes content, and exclusive previews (or grab the <a href="{{ " /feed.xml" | relative_url }}"
      class="link">RSS feed</a>)
  </p>

  {% include newsletter-field.html
  buttondown_username=buttondown_username
  audience_tag=audience_tag
  source_tag=source_tag
  metadata_source=cta_metadata_source %}
</div>